<div class="center jumbotron">
  <h1>Welcome to the  Game Critic App</h1>

  <h2>
    We provide Genuine reviews of Game Products
  </h2>

</div>

<h1>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <% post_name = post.title %>
      <td><%= link_to post_name, post_path(post) %></td>
      <td><%= post.author_name %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>
</h1>


<p><%= link_to 'Create a new Review', new_post_path %></p>